@use "../variables" as *;

.privacyContainer {
  padding: 4rem 0;
  max-width: 70%;
  margin: 0 auto;
}

.privacyContent {
  font-size: 1rem;
  line-height: 1.8;
  color: $privacySecondaryColor;
}

.privacyTitle {
  font-size: 2.5rem;
  color: $privacyPrimaryColor;
  font-weight: bold;
  margin-bottom: 2rem;
}

.sectionHeading {
  font-size: 1.8rem;
  color: $privacyPrimaryColor;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.privacyText {
  margin-bottom: 1.5rem;
  color: $privacySecondaryColor;
}

.bulletList {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;

  li {
    margin-bottom: 0.5rem;
    color: $privacySecondaryColor;

    strong {
      color: $privacyPrimaryColor;
    }
  }
}
