@use "../variables.scss" as *;

.supportPageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 80lvh;

  .outerBox {
    background-color: $supportOuterBoxBg;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      width: 150px;
      height: auto;
      margin-bottom: 20px;

      @media (max-width: 768px) {
        width: 120px;
      }

      @media (max-width: 480px) {
        width: 100px;
      }
    }

    h1 {
      font-size: 2rem;
      font-weight: bold;
      color: $supportTitle;
      margin-bottom: 10px;

      @media (max-width: 768px) {
        font-size: 1.75rem;
      }

      @media (max-width: 480px) {
        font-size: 1.5rem;
      }
    }

    .infoText {
      font-size: 1rem;
      color: $supportInfoText;
      margin-bottom: 20px;

      @media (max-width: 768px) {
        font-size: 0.95rem;
      }

      @media (max-width: 480px) {
        font-size: 0.9rem;
      }
    }

    .supportOptions {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      width: 100%;

      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }

      .supportCard {
        background-color: $supportCardBg;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        transition: transform 0.3s, box-shadow 0.3s;
        text-decoration: none;
        color: $supportCard;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 8px 16px $supportCardHoverShadow;
        }

        h3 {
          font-size: 1.5rem;
          font-weight: bold;
          margin-bottom: 10px;

          @media (max-width: 768px) {
            font-size: 1.4rem;
          }

          @media (max-width: 480px) {
            font-size: 1.2rem;
          }
        }

        p {
          font-size: 1rem;
          color: $supportCardTextColor;

          @media (max-width: 768px) {
            font-size: 0.95rem;
          }

          @media (max-width: 480px) {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
