@use "../variables" as *;

.stepContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $step4BackgroundColor;

  .innerBox {
    width: 100%;
    max-width: 800px;
    background-color: $step4BoxColor;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px $step4ShadowColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;

    .logoContainer {
      img {
        width: auto;
        height: auto;
      }
    }

    .betaVersion {
      background-color: $step4VersionBoxColor;
      color: $step4WhiteColor;
      padding: 0.6rem 1.2rem;
      border-radius: 8px;
      font-size: 1rem;
      font-weight: 600;
      box-shadow: 0 4px 8px $step4ShadowColor;
      text-transform: uppercase;
    }
  }

  h1 {
    font-size: 2.2rem;
    color: $step4PrimaryColor;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }

  p {
    font-size: 1.1rem;
    color: $step4TextColor;
    margin-bottom: 2rem;
    line-height: 1.6;
  }

  .stepsSummary {
    width: 100%;
    margin: 2rem 0;

    h2 {
      font-size: 1.5rem;
      color: $step4PrimaryColor;
      margin-bottom: 1rem;
      font-weight: bold;
      text-align: left;
    }

    ul {
      list-style: none;
      padding: 0;
      text-align: left;

      li {
        font-size: 1rem;
        color: $step4TextColor;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;

        span.completed {
          color: $step4CompletedColor;
          font-size: 1.5rem;
          margin-right: 0.5rem;
        }
      }
    }
  }

  .footerText {
    font-size: 1rem;
    color: $step4TextColor;
    margin: 2rem 0;
    text-align: left;
    width: 100%;
  }

  .buttonContainer {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    width: 100%;

    button {
      padding: 1rem 2rem;
      font-size: 1rem;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &.homeButton {
        background-color: $step4LightenedPrimaryColor;
        color: $step4WhiteColor;

        &:hover {
          background-color: $step4PrimaryColor;
        }
      }

      &.dashboardButton {
        background-color: $step4SecondaryColor;
        color: $step4WhiteColor;

        &:hover {
          background-color: $step4LightenedSecondaryColor;
        }
      }
    }
  }
}
